/**
  Document   : pm_user_image
  Created on : Aug 30, 2013, 2:57:46 PM
  Author     : rohit.joshi
  Description:
  Purpose of the stylesheet follows.
*/

.pm-user-image {
  padding: 5px 10px 5px 5px;
}
.image-pm-user-image {
  vertical-align: middle;
  padding: 5px;
}
#autocomplete ul li {
  white-space: nowrap;
}
